<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />
  <rosparam command="load" file="$(find std_detector)/config/config_online.yaml" />
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_std" args="-d $(find std_detector)/rviz_cfg/multi_session.rviz" />
  </group>

  <node
		pkg="std_detector"
		type="online_multi_session_demo"
		name="online_multi_session_demo"
		output="screen"
    launch-prefix="gdb -ex run --args"
	/>

</launch>
